<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Oefening 2</title>
</head>
<body>

  <div id="app">
    <h1>Todo app</h1>
    <hr>
      Add new todo: <input type="text" v-model="newTodo" @keyup.enter="addTodo"> 
      <button v-bind:disabled="!inputValid" @click="addTodo">Add</button>
    <hr>

    <p v-if="!todos.length">No todos yet...</p>
    <ul v-else>
      <li v-for="(todo, index) in todos">
        {{ todo }} - <input type="checkbox"> - 
        <button @click="deleteTodo(index)">X</button>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.min.js"></script>
  <script>
  var app = new Vue({
    el: "#app",
    data: {
      todos: [],
      newTodo: ''
    },
    methods: {
      addTodo() {
        if (this.inputValid) {
          this.todos.push(this.newTodo);
          this.newTodo = '';
        }
      },
      deleteTodo(index) {
        this.todos.splice(index, 1);
      }
    },
    computed: {
      inputValid() {
        return this.newTodo.length > 0;
      }
    }
  });
  </script> 
</body>
</html>