<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Notes | coligo.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="app">

      <!-- Toolbar -->
      <div id="toolbar">
        <i class="glyphicon glyphicon-plus" @click="addNote"></i>
        <i class="glyphicon glyphicon-star" 
            v-bind:class="{ starred:activeNote.favorite }" 
            @click="activeNote.favorite = !activeNote.favorite"
        ></i>
        <i class="glyphicon glyphicon-remove" @click="deleteNote"></i>
      </div>  

      <!-- Notes list -->
      <div id="notes-list">

        <div id="list-header">
          <h2>Notes | coligo</h2>
          <div class="btn-group btn-group-justified">
            <!-- All Notes button -->
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                v-bind:class="{ active:show=='all' }"
                @click="show='all'"
              >
                All Notes
              </button>
            </div>
            <!-- Favorites Button -->
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default"
                v-bind:class="{ active:show=='favorites' }"
                @click="show='favorites'"
              >
                Favorites
              </button>
            </div>
          </div>
        </div>
        <!-- render notes in a list -->
        <div class="container">
          <div class="list-group">
            <a class="list-group-item" href="#"
               v-for="note in filteredNotes"
               @click="activeNote=note"
               v-bind:class="{ active:note==activeNote }"
            >
              <h4 class="list-group-item-heading">
                {{ note.text }}
                <em v-if="!note.text.length">New note</em>
              </h4>
            </a>
          </div>
        </div>
      </div>

      <!-- Note Editor -->
      <div id="note-editor">
        <textarea class="form-control" v-model="activeNote.text">
        </textarea>
      </div>
      
    </div>


    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
